@model ForgotPasswordVM

<section id="login">
    <div class="my-second-container-1">
        <div class="all-login">
            <div class="side-head">
                <h4>registered customers</h4>
                <p>If you have an account, sign in with your email address.</p>
                <div class="text-danger mb-2" asp-validation-summary="All" style="color: red;"></div>
            </div>

            <form asp-action="Forgotpassword" class="register-form" id="login-form" method="post" enctype="multipart/form-data">
                <label for="mail">Email</label>
                <input asp-for="Email" type="email" id="mail" required>

                <button type="submit" class="create"> Confirm</button>
            </form>
        </div>
    </div>
</section>