
@{
    ViewData["Title"] = "VerifyEmail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="email">Please Check Your Email!</h1>


<style>
    .email {
        padding-left: 400px;
        padding-top: 50px;
        color: #9b35da;
        background-color:aquamarine;
    }
</style>
