@model CountryEditVM

@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <span class="text-danger">@ViewBag.Message</span>
                <div class="col-md-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h1>
                                Country
                            </h1>
                            <form asp-controller="Country" asp-action="Edit" class="forms-sample" method="post">
                                <div class="form-group">
                                    <label for="exampleInputUsername1">Name</label>
                                    <input minlength="" type="text" class="form-control" asp-for="Name">
                                    <span class="text-danger my-1" asp-validation-for="Name"></span>
                                </div>
                                <button type="submit" class="mybutton my-2">Submit</button>
                                <a asp-controller="Country" asp-action="Index" class="mybutton">Cancel</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <partial name="_ValidationPartial" />
}