@model FooterVM


<footer id="footer">

    <div class="all-footer">
        <div class="up-footer">
            <div class="container">
                <div class="all-up-footer">
                    <div class="left-footer">
                        <div class="left-contact">
                            <h5>Contact Us</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer in feugiat lorem.</p>
                        </div>

                        <div class="left-main">
                            <div class="main-box">
                                <h6>Phone number</h6>
                                <p>@Model.Settings["Num"]</p>
                            </div>

                            <div class="main-box">
                                <h6>Email Address</h6>
                                <p>@Model.Settings["Email"]</p>
                            </div>

                            <div class="main-box">
                                <h6>Our Location</h6>
                               <p>@Model.Settings["Address"]</p>
                            </div>

                            <div class="main-box">
                                <h6>Working Hours</h6>
                                <p>Mon-Sat 10:00pm - 7:00pm</p>
                            </div>

                        </div>
                    </div>



                    <div class="mid-footer">
                        <div class="mid-list">
                            <h4>Information</h4>
                            <ul>
                                <li><a href="">FAQ</a></li>
                                <li><a href="">Terms and Conditions</a></li>
                                <li><a href="">Terms and Conditions</a></li>
                                <li><a href="">Terms and Conditions</a></li>
                                <li><a href="">Terms and Conditions</a></li>
                                <li><a href="">Terms and Conditions</a></li>
                                <li><a href="">Terms and Conditions</a></li>
                            </ul>
                        </div>


                        <div class="mid-list">
                            <h4>Information</h4>
                            <ul>
                                <li><a href="">FAQ</a></li>
                                <li><a href="">Terms and Conditions</a></li>
                                <li><a href="">Terms and Conditions</a></li>
                                <li><a href="">Terms and Conditions</a></li>
                                <li><a href="">Terms and Conditions</a></li>
                                <li><a href="">Terms and Conditions</a></li>
                                <li><a href="">Terms and Conditions</a></li>
                            </ul>
                        </div>
                    </div>


                    <div class="right-footer">
                        <div class="right-news">
                            <h5>Newsletter</h5>
                            <p>
                                Enter your email address below to subscribe to our newsletter and keep up to date with the latest news, discounts and special offers.
                            </p>
                        </div>

                        <div class="right-subs">
                            <form>
                                <input type="email" placeholder="Your Email">
                                <button>Subscribe</button>
                            </form>
                        </div>

                        <div class="right-bottom">
                            <p>Follow us on social networks</p>
                            <div class="bottom-ico">
                                <div class="ico-box ins">
                                    <i class="fa-brands fa-instagram"></i>
                                </div>
                                <div class="ico-box tw">
                                    <i class="fa-brands fa-twitter"></i>
                                </div>
                                <div class="ico-box yt">
                                    <i class="fa-brands fa-youtube"></i>
                                </div>
                                <div class="ico-box fb">
                                    <i class="fa-brands fa-facebook"></i>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="down-footer">
            <div class="container">
                <div class="all-down-footer">
                    <div class="left-down">
                        <p>© 2022 RedParts – Auto Parts eCommerce MODX Theme, Handmade by WebPSdev & Kos.</p>
                    </div>

                    <div class="right-down">
                        <img src="~/assets/media/payments.png" alt="payments">
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>